<section class="grid-construct">
  <div class="footer__mega-nav__logo">
    <a href="#"><span class="icon logo-footer"></span></a>
  </div>
  <div class="footer__mega-nav">

    <ul class="footer__mega-nav__list">
      <li class="footer__mega-nav__list-item">
        <h6><a href="/self-publishing-overview">Publicación independiente</a></h6>
        <ul class="footer__mega-nav__sub-list">
          <li class="footer__mega-nav__sub-list-item">
            <a href="/distribution-options">Vender y distribuir</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/blurb-direct-sell">Publicar en forma independiente en Blurb</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/blurb-to-amazon">Publicar en forma independiente en Amazon</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/global-retail-network">Distribución mediante Ingram</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/volume-purchase-fulfillment">Ejecución por volumen</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/book-creation-layout-tools">Herramientas de creación de libros</a>
          </li>
        </ul>
      </li>
      <li class="footer__mega-nav__list-item">
        <h6><a href="/create-photo-books">Libros de fotografías personales</a></h6>
        <ul class="footer__mega-nav__sub-list">
          <li class="footer__mega-nav__sub-list-item">
            <a href="/wedding-books">Libros de fotografías de bodas</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/anniversary-photo-books">Libros de fotografías de aniversario</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/baby-photo-books">Libros de fotografías de bebés</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/family-photo-books">Libros de fotografías familiares</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/travel-photo-books">Libros de fotografías de viaje</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/coffee-table-photo-books">Libros de fotografías de gran formato</a>
          </li>
        </ul>
      </li>
      <li class="footer__mega-nav__list-item">
        <h6><a href="/self-published-books">Tipos de libros populares</a></h6>
        <ul class="footer__mega-nav__sub-list">
          <li class="footer__mega-nav__sub-list-item">
            <a href="/cookbooks">Libros de cocina</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/childrens-books">Libros para niños</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/poetry-books">Libros de poesía</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/portfolio-books">Catálogos</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/planners">Organizadores</a>
          </li>
        </ul>
      </li>
      <li class="footer__mega-nav__list-item">
        <h6><a href="/inspiration">Inspírese</a></h6>
        <ul class="footer__mega-nav__sub-list">
          <li class="footer__mega-nav__sub-list-item">
            <a href="/gifts">Tienda de regalos</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/book-camp">Taller de creación de libros</a>
          </li>
          
          <li class="footer__mega-nav__sub-list-item">
            <a href="/blog">Blurb Stories</a>
          </li>
          
          <li class="footer__mega-nav__sub-list-item">
            <a href="/newsletters">Boletines</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/bookstore">Librería de Blurb</a>
          </li>
        </ul>
      </li>
      <li class="footer__mega-nav__list-item">
        <h6><a href="https://support.blurb.com/home?locale=?">Ayuda</a></h6>
        <ul class="footer__mega-nav__sub-list">
          <li class="footer__mega-nav__sub-list-item">
            <a href="https://support.blurb.com/categories/20076681">Foros</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="https://support.blurb.com/forums">Preguntas frecuentes</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/pricing-calculator">Precios</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/shipping">Envío</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/returns">Política de devolución</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/volume-pricing">Precios por volumen</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>