<section class="grid-construct">
    <div class="footer__mega-nav__logo">
      <a href="#"><span class="icon logo-footer"></span></a>
    </div>
    <div class="footer__mega-nav">

      <ul class="footer__mega-nav__list">
        <li class="footer__mega-nav__list-item">
          <h6><a href="/self-publishing-overview">Pubblicazione autonoma</a></h6>
          <ul class="footer__mega-nav__sub-list">
            <li class="footer__mega-nav__sub-list-item">
              <a href="/distribution-options">Vendi e distribuisci</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/blurb-direct-sell">Pubblica in autonomia su Blurb</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/blurb-to-amazon">Pubblica in autonomia su Amazon</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/global-retail-network">Distribuzione Ingram</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/volume-purchase-fulfillment">Evasione ordini cospicui</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/book-creation-layout-tools">Strumenti per la creazione di libri</a>
            </li>
          </ul>
        </li>
        <li class="footer__mega-nav__list-item">
          <h6><a href="/create-photo-books">Fotolibri personali</a></h6>
          <ul class="footer__mega-nav__sub-list">
            <li class="footer__mega-nav__sub-list-item">
              <a href="/wedding-books">Fotolibri nozze</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/anniversary-photo-books">Fotolibri per anniversari</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/baby-photo-books">Fotolibri dei tuoi bambini</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/family-photo-books">Fotolibri di famiglia</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/travel-photo-books">Album di viaggio</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/coffee-table-photo-books">Fotolibri di lusso</a>
            </li>
          </ul>
        </li>
        <li class="footer__mega-nav__list-item">
          <h6><a href="/self-published-books">Tipologie libro popolari</a></h6>
          <ul class="footer__mega-nav__sub-list">
            <li class="footer__mega-nav__sub-list-item">
              <a href="/cookbooks">Libri di cucina</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/childrens-books">Libri per bambini</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/poetry-books">Libri di poesia</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/portfolio-books">Portfolio</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/planners">Agende</a>
            </li>
          </ul>
        </li>
        <li class="footer__mega-nav__list-item">
          <h6><a href="/inspiration">Trova l'ispirazione</a></h6>
          <ul class="footer__mega-nav__sub-list">
            <li class="footer__mega-nav__sub-list-item">
              <a href="/gifts">Centro regali</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/book-camp">Book Camp</a>
            </li>
            
            <li class="footer__mega-nav__sub-list-item">
              <a href="/blog">Storie di Blurb</a>
            </li>
            
            <li class="footer__mega-nav__sub-list-item">
              <a href="/newsletters">Newsletter</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/bookstore">Libreria Blurb</a>
            </li>
          </ul>
        </li>
        <li class="footer__mega-nav__list-item">
          <h6><a href="https://support.blurb.com/home?locale=?">Assistenza</a></h6>
          <ul class="footer__mega-nav__sub-list">
            <li class="footer__mega-nav__sub-list-item">
              <a href="https://support.blurb.com/categories/20076681">Forum</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="https://support.blurb.com/forums">FAQ</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/pricing-calculator">Listino</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/shipping">Spedizione</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/returns">Resi e rimborsi</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/volume-pricing">Sconti sui volumi</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </section>