<section class="grid-construct">
  <div class="footer__mega-nav__logo">
    <a href="#"><span class="icon logo-footer"></span></a>
  </div>
  <div class="footer__mega-nav">

    <ul class="footer__mega-nav__list">
      <li class="footer__mega-nav__list-item">
        <h6><a href="/self-publishing-overview">Zelf publiceren</a></h6>
        <ul class="footer__mega-nav__sub-list">
          <li class="footer__mega-nav__sub-list-item">
            <a href="/distribution-options">Verkopen en distribueren</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/blurb-direct-sell">Zelf publiceren op Blurb</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/blurb-to-amazon">Zelf publiceren op Amazon</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/global-retail-network">Ingram-distributie</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/volume-purchase-fulfillment">Bulkverwerking</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/book-creation-layout-tools">Tools voor het maken van boeken</a>
          </li>
        </ul>
      </li>
      <li class="footer__mega-nav__list-item">
        <h6><a href="/create-photo-books">Persoonlijke fotoboeken</a></h6>
        <ul class="footer__mega-nav__sub-list">
          <li class="footer__mega-nav__sub-list-item">
            <a href="/wedding-books">Trouwfotoalbums</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/anniversary-photo-books">Jubileumfotoboeken</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/baby-photo-books">Babyalbums</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/family-photo-books">Fotoalbums voor familie/gezin</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/travel-photo-books">Reisboeken met foto's</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/coffee-table-photo-books">Fotoboeken voor op de salontafel</a>
          </li>
        </ul>
      </li>
      <li class="footer__mega-nav__list-item">
        <h6><a href="/self-published-books">Populaire boektypen</a></h6>
        <ul class="footer__mega-nav__sub-list">
          <li class="footer__mega-nav__sub-list-item">
            <a href="/cookbooks">Kookboeken</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/childrens-books">Kinderboeken</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/poetry-books">Gedichtenbundels</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/portfolio-books">Portfolio's</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/planners">Jaaragenda's</a>
          </li>
        </ul>
      </li>
      <li class="footer__mega-nav__list-item">
        <h6><a href="/inspiration">Doe inspiratie op</a></h6>
        <ul class="footer__mega-nav__sub-list">
          <li class="footer__mega-nav__sub-list-item">
            <a href="/gifts">Cadeauhoek</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/book-camp">Boekenkamp</a>
          </li>
          
          <li class="footer__mega-nav__sub-list-item">
            <a href="/blog">Blurb Stories</a>
          </li>
          
          <li class="footer__mega-nav__sub-list-item">
            <a href="/newsletters">Nieuwsbrieven</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/bookstore">Blurb Boekwinkel</a>
          </li>
        </ul>
      </li>
      <li class="footer__mega-nav__list-item">
        <h6><a href="https://support.blurb.com/home?locale=?">Help</a></h6>
        <ul class="footer__mega-nav__sub-list">
          <li class="footer__mega-nav__sub-list-item">
            <a href="https://support.blurb.com/categories/20076681">Forums</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="https://support.blurb.com/forums">Veelgestelde vragen</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/pricing-calculator">Prijzen</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/shipping">Verzending</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/returns">Retourbeleid</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/volume-pricing">Prijzen van bulkorders</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
