<section class="grid-construct">
  <div class="footer__mega-nav__logo">
    <a href="#"><span class="icon logo-footer"></span></a>
  </div>
  <div class="footer__mega-nav">

    <ul class="footer__mega-nav__list">
      <li class="footer__mega-nav__list-item">
        <h6><a href="/self-publishing-overview">Selbstveröffentlichung</a></h6>
        <ul class="footer__mega-nav__sub-list">
          <li class="footer__mega-nav__sub-list-item">
            <a href="/distribution-options">Verkauf und Vertrieb</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/blurb-direct-sell">Selbstveröffentlichung bei Blurb</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/blurb-to-amazon">Selbstveröffentlichung bei Amazon</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/global-retail-network">Ingram-Vertrieb</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/volume-purchase-fulfillment">Abwicklung von Großbestellungen</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/book-creation-layout-tools">Buchgestaltungstools</a>
          </li>
        </ul>
      </li>
      <li class="footer__mega-nav__list-item">
        <h6><a href="/create-photo-books">Persönliche Fotobücher</a></h6>
        <ul class="footer__mega-nav__sub-list">
          <li class="footer__mega-nav__sub-list-item">
            <a href="/wedding-books">Hochzeitsfotobücher</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/anniversary-photo-books">Fotobücher zum Jubiläum</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/baby-photo-books">Baby-Fotobücher</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/family-photo-books">Familienfotobücher</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/travel-photo-books">Reisefotobücher</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/coffee-table-photo-books">Fotobildbände</a>
          </li>
        </ul>
      </li>
      <li class="footer__mega-nav__list-item">
        <h6><a href="/self-published-books">Beliebte Buchtypen</a></h6>
        <ul class="footer__mega-nav__sub-list">
          <li class="footer__mega-nav__sub-list-item">
            <a href="/cookbooks">Kochbücher</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/childrens-books">Kinder- und Jugendbücher</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/poetry-books">Gedichtbände</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/portfolio-books">Portfolios</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/planners">Planer</a>
          </li>
        </ul>
      </li>
      <li class="footer__mega-nav__list-item">
        <h6><a href="/inspiration">Inspirationen</a></h6>
        <ul class="footer__mega-nav__sub-list">
          <li class="footer__mega-nav__sub-list-item">
            <a href="/gifts">Geschenkideen</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/book-camp">Buch-Camp</a>
          </li>
          
          <li class="footer__mega-nav__sub-list-item">
            <a href="/blog">Blurb-Storys</a>
          </li>
          
          <li class="footer__mega-nav__sub-list-item">
            <a href="/newsletters">Newsletter</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/bookstore">Buchshop</a>
          </li>
        </ul>
      </li>
      <li class="footer__mega-nav__list-item">
        <h6><a href="https://support.blurb.com/home?locale=?">Hilfe</a></h6>
        <ul class="footer__mega-nav__sub-list">
          <li class="footer__mega-nav__sub-list-item">
            <a href="https://support.blurb.com/categories/20076681">Foren</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="https://support.blurb.com/forums">FAQ</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/pricing-calculator">Preise</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/shipping">Versand</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/returns">Rückgabebedingungen</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/volume-pricing">Mengenrabatte</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>