<section class="grid-construct">
  <div class="footer__mega-nav__logo">
    <a href="#"><span class="icon logo-footer"></span></a>
  </div>
  <div class="footer__mega-nav">

    <ul class="footer__mega-nav__list">
      <li class="footer__mega-nav__list-item">
        <h6><a href="/self-publishing-overview">Autopublicação</a></h6>
        <ul class="footer__mega-nav__sub-list">
          <li class="footer__mega-nav__sub-list-item">
            <a href="/distribution-options">Vender e distribuir</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/blurb-direct-sell">Autopublique no Blurb</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/blurb-to-amazon">Autopublique na Amazon</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/global-retail-network">Distribuição do Ingram</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/volume-purchase-fulfillment">Atendimento por volume</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/book-creation-layout-tools">Ferramentas de criação de livros</a>
          </li>
        </ul>
      </li>
      <li class="footer__mega-nav__list-item">
        <h6><a href="/create-photo-books">Livros fotográficos pessoais</a></h6>
        <ul class="footer__mega-nav__sub-list">
          <li class="footer__mega-nav__sub-list-item">
            <a href="/wedding-books">Livros fotográficos de casamento</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/anniversary-photo-books">Livros fotográficos comemorativos</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/baby-photo-books">Livros fotográficos do bebê</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/family-photo-books">Livros fotográficos da família</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/travel-photo-books">Livros fotográficos de viagens</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/coffee-table-photo-books">Livros fotográficos de grandes dimensões</a>
          </li>
        </ul>
      </li>
      <li class="footer__mega-nav__list-item">
        <h6><a href="/self-published-books">Tipos populares de livros</a></h6>
        <ul class="footer__mega-nav__sub-list">
          <li class="footer__mega-nav__sub-list-item">
            <a href="/cookbooks">Receitas</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/childrens-books">Livros infantis</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/poetry-books">Livros de poesia</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/portfolio-books">Portfólios</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/planners">Agendas</a>
          </li>
        </ul>
      </li>
      <li class="footer__mega-nav__list-item">
        <h6><a href="/inspiration">Inspire-se</a></h6>
        <ul class="footer__mega-nav__sub-list">
          <li class="footer__mega-nav__sub-list-item">
            <a href="/gifts">Presentes</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/book-camp">Book Camp</a>
          </li>
          
          <li class="footer__mega-nav__sub-list-item">
            <a href="/blog">Histórias do Blurb</a>
          </li>
          
          <li class="footer__mega-nav__sub-list-item">
            <a href="/newsletters">Newsletters</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/bookstore">Blurb Bookstore</a>
          </li>
        </ul>
      </li>
      <li class="footer__mega-nav__list-item">
        <h6><a href="https://support.blurb.com/home?locale=?">Ajuda</a></h6>
        <ul class="footer__mega-nav__sub-list">
          <li class="footer__mega-nav__sub-list-item">
            <a href="https://support.blurb.com/categories/20076681">Fóruns</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="https://support.blurb.com/forums">Perguntas frequentes</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/pricing-calculator">Preços</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/shipping">Envio</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/returns">Política de devolução</a>
          </li>
          <li class="footer__mega-nav__sub-list-item">
            <a href="/volume-pricing">Preço por volume</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>