<footer class="footer  footer--main" role="contentinfo">
<section class="grid-construct">
    <div class="footer__mega-nav__logo">
      <a href="#"><span class="icon logo-footer"></span></a>
    </div>
    <div class="footer__mega-nav">

      <ul class="footer__mega-nav__list">
        <li class="footer__mega-nav__list-item">
          <h6><a href="/self-publishing-overview">Self-Publishing</a></h6>
          <ul class="footer__mega-nav__sub-list">
            <li class="footer__mega-nav__sub-list-item">
              <a href="/distribution-options">Sell & Distribute</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/blurb-direct-sell">Self-Publish on Blurb</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/blurb-to-amazon">Self-Publish on Amazon</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/global-retail-network">Ingram Distribution</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/volume-purchase-fulfillment">Volume Fulfillment</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/book-creation-layout-tools">Book Creation Tools</a>
            </li>
          </ul>
        </li>
        <li class="footer__mega-nav__list-item">
          <h6><a href="/">Book Formats</a></h6>
          <ul class="footer__mega-nav__sub-list">
            <li class="footer__mega-nav__sub-list-item">
              <a href="/photo-books">Photo Books</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/trade-books">Trade Books</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/magazine">Magazines</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/ebook">eBooks</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/custom-book-options">Custom Book Options</a>
            </li>
          </ul>
        </li>
        <li class="footer__mega-nav__list-item">
          <h6><a href="/create-photo-books">Personal Photo Books</a></h6>
          <ul class="footer__mega-nav__sub-list">
            <li class="footer__mega-nav__sub-list-item">
              <a href="/wedding-books">Wedding Photo Books</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/anniversary-photo-books">Anniversary Photo Books</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/baby-photo-books">Baby Photo Books</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/family-photo-books">Family Photo Books</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/travel-photo-books">Travel Photo Books</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/coffee-table-photo-books">Coffee Table Photo Books</a>
            </li>
          </ul>
        </li>
        <li class="footer__mega-nav__list-item">
          <h6><a href="/self-published-books">Popular Book Types</a></h6>
          <ul class="footer__mega-nav__sub-list">
            <li class="footer__mega-nav__sub-list-item">
              <a href="/cookbooks">Cookbooks</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/childrens-books">Children's Books</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/poetry-books">Poetry Books</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/portfolio-books">Portfolios</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/planners">Planners</a>
            </li>
          </ul>
        </li>
        <li class="footer__mega-nav__list-item">
          <h6><a href="/inspiration">Get Inspired</a></h6>
          <ul class="footer__mega-nav__sub-list">
            <li class="footer__mega-nav__sub-list-item">
              <a href="/gifts">Gift Center</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/book-camp">Book Camp</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/blog">Blurb Stories</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/newsletters">Newsletters</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/bookstore">Bookstore</a>
            </li>
          </ul>
        </li>
        <li class="footer__mega-nav__list-item">
          <h6><a href="https://support.blurb.com/home?locale=?">Help</a></h6>
          <ul class="footer__mega-nav__sub-list">
            <li class="footer__mega-nav__sub-list-item">
              <a href="https://support.blurb.com/categories/20076681">Forums</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="https://support.blurb.com/forums">FAQs</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/pricing">Pricing</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/shipping">Shipping</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/returns">Return Policy</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/volume-pricing">Volume Pricing</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
  <div class="footer__legal">
    <div class="grid-construct">
      <div class="full-column">
        <ul class="footer__legal__list">
          <li
            class="footer__legal__list-item  footer__legal__list-item--copyright">&copy;
            1999-{{ site.time | date: "%Y" }} Blurb
          </li>
          <!--
                    -->
          <li class="footer__legal__list-item"><a class="footer__legal__link"
                                                  href="/company-profile">Company</a></li>
          <!--
                    -->
          <li class="footer__legal__list-item"><a class="footer__legal__link"
                                                  href="/careers">Work at Blurb</a></li>
          <!--
                    -->
          <li class="footer__legal__list-item"><a class="footer__legal__link"
                                                  href="/technology">Engineering</a></li>
          <!--
                    -->
          <li class="footer__legal__list-item"><a class="footer__legal__link"
                                                  href="/pricing">Pricing</a></li>
          <!--
                    -->
          <li class="footer__legal__list-item"><a class="footer__legal__link"
                                                  href="/about/legal">Privacy &amp;
            Legal</a></li>
          <!--
                    -->
          <!--
                    -->
          <li class="footer__legal__list-item"><a class="footer__legal__link"
                                                  href="https://support.blurb.com/home">Support</a></li>
        </ul>
        <div class="footer__lang-select" data-controller="languageSelect">
          <div class="footer__lang-select__btn">
            <div class="footer__lang-select__selected  js-lang-select-btn">
                <span
                  class="icon  flag--united-states--sm  footer__lang-select__selected-icon"></span>
                <span
                  class="footer__lang-select__selected-text">United States</span>
              <span class="icon  indicator--down--white"></span>
            </div>
          </div>

          <div class="footer__lang-select__select-wrap  js-lang-select-wrap">
            <div class="footer__lang-select__list-wrap">
              <ul class="footer__lang-select__column">
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="#"><span
                    class="icon  flag--united-states"></span> United States</a>
                </li>
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="#"><span
                    class="icon  flag--australia"></span> Australia</a>
                </li>
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="#"><span
                    class="icon  flag--brazil"></span> Brazil</a>
                </li>
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="#"><span
                    class="icon  flag--italy"></span> Italy</a>
                </li>
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="#"><span
                    class="icon  flag--netherlands"></span> Netherlands</a>
                </li>
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="#"><span
                    class="icon  flag--united-kingdom"></span> United
                    Kingdom</a>
                </li>
              </ul>
              <ul class="footer__lang-select__column">
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="#"><span
                    class="icon  flag--france"></span> France</a>
                </li>
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="#"><span
                    class="icon  flag--germany"></span> Germany</a>
                </li>
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="#"><span
                    class="icon  flag--spain"></span> Spain</a>
                </li>
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="#"><span
                    class="icon  flag--canada"></span> Canada</a>
                </li>
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="#"><span
                    class="icon  flag--globe"></span> Other Countries</a>
                </li>
              </ul>
              <div class="footer__lang-select__stem">
                <span class="icon bubble-stem--gray"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
