<div class="footer__legal">
  <div class="grid-construct">
    <div class="full-column">
      <ul class="footer__legal__list">
        <li
          class="footer__legal__list-item  footer__legal__list-item--copyright">&copy;
          1999-{{ site.time | date: "%Y" }} Blurb
        </li>
        <li class="footer__legal__list-item"><a class="footer__legal__link"
                                                href="/company-profile">Company Info</a></li>
        <li class="footer__legal__list-item"><a class="footer__legal__link"
                                                href="/careers">Work at Blurb</a></li>
        <li class="footer__legal__list-item"><a class="footer__legal__link"
                                                href="/technology">Engineering</a></li>
        <li class="footer__legal__list-item"><a class="footer__legal__link"
                                                href="/pricing-calculator">Pricing</a></li>
        <li class="footer__legal__list-item"><a class="footer__legal__link"
                                                href="/about/legal">Privacy &amp;
          Legal</a></li>
        {%comment%}Germany and UK have extra items here{%endcomment%}
        {% if language == "en-gb" %}
        <li class="footer__legal__list-item"><a class="footer__legal__link"
                                                href="/about/cookies">Cookie Policy</a></li>
        {% elsif language == "de" %}
        <li class="footer__legal__list-item"><a class="footer__legal__link"
                                                href="/about/impressum">Impressum</a></li>
        {% else %}
        {% endif %}
        <li class="footer__legal__list-item"><a class="footer__legal__link"
                                                href="https://support.blurb.com/home">Support</a></li>
      </ul>
      <div class="footer__lang-select" data-controller="languageSelect">
        <div class="footer__lang-select__btn">
          <div class="footer__lang-select__selected  js-lang-select-btn">
                  <span
                    class="icon  flag--{{ site.locale_names[language]|slugify }}--sm  footer__lang-select__selected-icon"></span>
                  <span
                    class="footer__lang-select__selected-text">{{ site.locale_names[language] }}</span>
            <span class="icon  indicator--down--white"></span>
          </div>
        </div>

        <div
          class="footer__lang-select__select-wrap  js-lang-select-wrap">
          <div class="footer__lang-select__list-wrap">
            <ul class="footer__lang-select__column">
              <li class="footer__lang-select__list-item">
                <a class="footer__lang-select__link" href="{{site.language_selector.en}}/?redirect=true"><span
                  class="icon  flag--united-states"></span> United States</a>
              </li>
              <li class="footer__lang-select__list-item">
                <a class="footer__lang-select__link" href="{{site.language_selector.en-au}}/?redirect=true"><span
                  class="icon  flag--australia"></span> Australia</a>
              </li>
              <li class="footer__lang-select__list-item">
                <a class="footer__lang-select__link" href="{{site.language_selector.pt-br}}/?redirect=true"><span
                  class="icon  flag--brazil"></span> Brazil</a>
              </li>
              <li class="footer__lang-select__list-item">
                <a class="footer__lang-select__link" href="{{site.language_selector.it}}/?redirect=true"><span
                  class="icon  flag--italy"></span> Italy</a>
              </li>
              <li class="footer__lang-select__list-item">
                <a class="footer__lang-select__link" href="{{site.language_selector.nl}}/?redirect=true"><span
                  class="icon  flag--netherlands"></span> Netherlands</a>
              </li>
              <li class="footer__lang-select__list-item">
                <a class="footer__lang-select__link" href="{{site.language_selector.en-gb}}/?redirect=true"><span
                  class="icon  flag--united-kingdom"></span> United
                  Kingdom</a>
              </li>
            </ul>
            <ul class="footer__lang-select__column">
              <li class="footer__lang-select__list-item">
                <a class="footer__lang-select__link" href="{{site.language_selector.fr}}/?redirect=true"><span
                  class="icon  flag--france"></span> France</a>
              </li>
              <li class="footer__lang-select__list-item">
                <a class="footer__lang-select__link" href="{{site.language_selector.de}}/?redirect=true"><span
                  class="icon  flag--germany"></span> Germany</a>
              </li>
              <li class="footer__lang-select__list-item">
                <a class="footer__lang-select__link" href="{{site.language_selector.es}}/?redirect=true"><span
                  class="icon  flag--spain"></span> Spain</a>
              </li>
              <li class="footer__lang-select__list-item">
                <a class="footer__lang-select__link" href="{{site.language_selector.en-ca}}/?redirect=true"><span
                  class="icon  flag--canada"></span> Canada</a>
              </li>
              <li class="footer__lang-select__list-item">
                <a class="footer__lang-select__link" href="{{site.language_selector.en}}/?redirect=true"><span
                  class="icon  flag--globe"></span> Other Countries</a>
              </li>
            </ul>
            <div class="footer__lang-select__stem">
              <span class="icon bubble-stem--gray"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
