<footer class="footer  footer--main" role="contentinfo">
<section class="grid-construct">
    <div class="footer__mega-nav__logo">
      <a href="#"><span class="icon logo-footer"></span></a>
    </div>
    <div class="footer__mega-nav">

      <ul class="footer__mega-nav__list">
        <li class="footer__mega-nav__list-item">
          <h6><a href="/self-publishing-overview">Self-Publishing</a></h6>
          <ul class="footer__mega-nav__sub-list">
            <li class="footer__mega-nav__sub-list-item">
              <a href="/distribution-options">Sell & Distribute</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/blurb-direct-sell">Self-Publish on Blurb</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/blurb-to-amazon">Self-Publish on Amazon</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/global-retail-network">Ingram Distribution</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/volume-purchase-fulfillment">Volume Fulfillment</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/book-creation-layout-tools">Book Creation Tools</a>
            </li>
          </ul>
        </li>
        <li class="footer__mega-nav__list-item">
          <h6><a href="/create-photo-books">Personal Photo Books</a></h6>
          <ul class="footer__mega-nav__sub-list">
            <li class="footer__mega-nav__sub-list-item">
              <a href="/wedding-books">Wedding Photo Books</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/anniversary-photo-books">Anniversary Photo Books</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/baby-photo-books">Baby Photo Books</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/family-photo-books">Family Photo Books</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/travel-photo-books">Travel Photo Books</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/coffee-table-photo-books">Coffee Table Photo Books</a>
            </li>
          </ul>
        </li>
        <li class="footer__mega-nav__list-item">
          <h6><a href="/self-published-books">Popular Book Types</a></h6>
          <ul class="footer__mega-nav__sub-list">
            <li class="footer__mega-nav__sub-list-item">
              <a href="/cookbooks">Cookbooks</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/childrens-books">Children's Books</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/poetry-books">Poetry Books</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/portfolio-books">Portfolios</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/planners">Planners</a>
            </li>
          </ul>
        </li>
        <li class="footer__mega-nav__list-item">
          <h6><a href="/inspiration">Get Inspired</a></h6>
          <ul class="footer__mega-nav__sub-list">
            <li class="footer__mega-nav__sub-list-item">
              <a href="/gifts">Gift Center</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/book-camp">Book Camp</a>
            </li>
            {% if language == "en" %}
            <li class="footer__mega-nav__sub-list-item">
              <a href="/blog">Blurb Stories</a>
            </li>
            {% endif %}
            <li class="footer__mega-nav__sub-list-item">
              <a href="/newsletters">Newsletters</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/bookstore">Blurb Bookstore</a>
            </li>
          </ul>
        </li>
        <li class="footer__mega-nav__list-item">
          <h6><a href="https://support.blurb.com/home?locale=?">Help</a></h6>
          <ul class="footer__mega-nav__sub-list">
            <li class="footer__mega-nav__sub-list-item">
              <a href="https://support.blurb.com/categories/20076681">Forums</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="https://support.blurb.com/forums">FAQs</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/pricing-calculator">Pricing</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/shipping">Shipping</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/returns">Return Policy</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/volume-pricing">Volume Pricing</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
  {% include footer--legal.html %}
  {%if page.partner_tracking %}
    {% include partner-tracking.html %}
  {% endif %}
</footer>
