<header class="header" role="banner">
<div class="header--utility">
  <div class="grid-construct  guidline__wrapper">
    <div class="guideline--vertical--left"></div>
    <script type="text/javascript">
      // Will be replaced with necessary info by Drupal.
      var blurbMenuItemTemplate = '<li class="utility__list-item  utility__list-item--show-lg utility__account-menu-item js-utility__account-menu-item"><a class="utility__cta" href="#"></a></li>';
      var blurbAccountMenuLoggedOut = [
        {
          text: 'Join Blurb'
          , url: 'https://secure.blurb.com/my/account/register'
          , type: 'url'
        }
        , {
          text: 'Sign In'
          , url: 'https://secure.blurb.com/my/account/login'
          , type: 'url'
        }
        , {
          text: 'Help'
          , url: '/help'
          , type: 'url'
        }
      ]
      var blurbAccountMenuLoggedIn = [
        {
          text: 'My Dashboard'
          , url: '/my/dashboard'
          , type: 'url'
        }
        , {
          text: 'Profile'
          , url: '/my/account/profile'
          , type: 'url'
        }
        , {
          text: 'Settings'
          , url: 'https://secure.blurb.com/my/account'
          , type: 'url'
        }
        , {
          text: 'Sign out'
          , url: 'https://secure.blurb.com/my/account/logout'
          , type: 'url'
        }
        , {
          text: 'Help'
          , url: '/help'
          , type: 'url'
        }
      ]
    </script>
    <ul class="utility__list js-utility__account-menu">
      <li class="utility__list-item  utility__list-item--search"
          data-controller="search">
        <div class="controls__search__form-wrap js-search-form">
          <form action="/search/site_search" class="controls__search__form clearfix">
            <span
              class="controls__search__field-icon  icon  magnify--black"></span>
            <!-- to remove -->
            <label for="search" class="controls__search__label">Search:</label>
            <input type="text" name="search"
                   class="controls__search__field" placeholder="Search for...">
            <button
              class="controls__search__button  controls__search__button--submit"
              type="submit">Submit
            </button>
            <button
              class="controls__search__button  controls__search__button--close  js-search-close"
              type="button">
              <span
                class="icon  controls__search__button--close__close-icon"></span>
            </button>
          </form>
        </div>
      </li>
      <li class="utility__list-item  utility__list-item--show-md-sm"><a
        class="utility__cta" href="#">Home</a></li>
      <li class="utility__list-item  utility__list-item--show-md-sm"><a
        class="utility__cta" href="#">Sign In</a> or <a class="utility__cta"
                                                        href="#">Join Now</a>
      </li>
      <li
        class="utility__list-item  utility__list-item--social  utility__list-item--show-lg">
        <a class="utility__cta" href="http://www.facebook.com/BlurbBooks"><span
          class="icon  social--utility--facebook--blue"></span></a></li>
      <li
        class="utility__list-item  utility__list-item--social  utility__list-item--show-lg">
        <a class="utility__cta" href="http://twitter.com/blurbbooks"><span
          class="icon  social--utility--twitter--blue"></span></a></li>
      <li
        class="utility__list-item  utility__list-item--social utility__list-item--social--last  utility__list-item--show-lg">
        <a class="utility__cta"
           href="https://plus.google.com/104290472118001868543"><span
          class="icon  social--utility--googleplus--blue"></span></a></li>
    </ul>
    <div class="guideline--vertical--right"></div>
  </div>

</div>
<div class="header--main  header-nav--main">
<div class="guideline--horizontal"></div>
<div class="grid-construct  guidline__wrapper">
<div class="guideline--vertical--left"></div>
<a href="http://www.blurb.com/" title="Blurb" class="logo  logo--main  js-logo">
  <span class="icon  logo--icon--large  logo-main--sm"></span>
  <span class="icon  logo--icon--small  logo-main--mobile"></span>
</a>
{% comment %}

What is going on here? Basically, the top menus are here, but we import the
child menus from includes. We do this because the child menu repeats
horizontally across the bottom according to page.headerMenu, and we have to
pass it parameters so that the right HTML can be generated without having
to duplicate stuff.

{% endcomment %}
<div class="controls  controls--main  js-controls">
<nav class="controls__nav" data-controller="controlsNav">
  <ul class="controls__nav__list  js-controls-nav-list">
    <li class="controls__nav__list-item{%if page.headerMenu == 'create' %}  active{% endif %}">
      <div
        class="controls__nav__cta  cta  cta--button  js-parent-nav-link">
        <span class="icon  controls__nav__expand-icon"></span>Create
        <span class="icon  controls__nav__cta-icon"></span></div>
        {% include header/submenu.html items=site.nav.create %}
    </li>
    <li class="controls__nav__list-item{%if page.headerMenu == 'formats-pricing' %}  active{% endif %}">
      <div
        class="controls__nav__cta  cta  cta--button  js-parent-nav-link">
        <span class="icon  controls__nav__expand-icon"></span>Formats &amp;
        Pricing <span class="icon  controls__nav__cta-icon"></span></div>
      {% include header/submenu.html items=site.nav.formats-pricing %}
    </li>
    <li class="controls__nav__list-item{%if page.headerMenu == 'sell-distribute' %}  active{% endif %}">
      <div
        class="controls__nav__cta  cta  cta--button  js-parent-nav-link">
        <span class="icon  controls__nav__expand-icon"></span>Sell &amp; Distribute <span
        class="icon  controls__nav__cta-icon"></span></div>
      {% include header/submenu.html items=site.nav.sell-distribute %}
    </li>
    <li class="controls__nav__list-item{%if page.headerMenu == 'community' %}  active{% endif %}">
      <div
        class="controls__nav__cta  cta  cta--button  js-parent-nav-link">
        <span class="icon  controls__nav__expand-icon"></span>Community
        <span class="icon  controls__nav__cta-icon"></span></div>
      {% include header/submenu.html items=site.nav.community %}
    </li>
    <li class="controls__nav__list-item{%if page.headerMenu == 'bookstore' %}  active{% endif %}">
      <div
        class="controls__nav__cta  cta  cta--button  js-parent-nav-link">
        <span class="icon  controls__nav__expand-icon"></span>Bookstore
        <span class="icon  controls__nav__cta-icon"></span></div>
      {% include header/submenu.html items=site.nav.bookstore %}
    </li>
  </ul>
</nav>
{% unless page.headerMenu == null %}
  <ul class="controls__current-subnav">
    {% comment %} If there's a better way to do this (e.g. use variable to refer
    to name of hash key), let me know! {% endcomment %}
    {% for navItem in site.nav %}
      {% if navItem[0] == page.headerMenu %}
        {% assign itemsContent = navItem[1] %}
        {% include header/submenu.html subnav=true items=itemsContent %}
      {% endif %}
    {% endfor %}
  </ul>
{% endunless %}
  {% include footer--legal.html %}

<div class="guideline--vertical--right"></div>
</div>
</div>

<a href="#" class="header--mobile-nav-toggle  js-mobile-nav-toggle"><span
  class="icon  btn--mobile-nav--shadow"></span></a>
</div>
</header>
