<header class="header" role="banner">
<div class="header--utility">
  <div class="grid-construct  guidline__wrapper">
    <div class="guideline--vertical--left"></div>
    <ul class="utility__list">
      <li class="utility__list-item  utility__list-item--show-lg"><a
        class="utility__cta" href="#">Join Blurb Now</a></li>
      <li class="utility__list-item  utility__list-item--show-lg"><a
        class="utility__cta" href="#">Sign In</a></li>
      <li class="utility__list-item  utility__list-item--show-lg"><a
        class="utility__cta" href="#">Help</a></li>
      <li class="utility__list-item  utility__list-item--search"
          data-controller="search">
        <div class="controls__search__form-wrap js-search-form">
          <form action="" class="controls__search__form clearfix">
            <span
              class="controls__search__field-icon  icon  magnify--black"></span>
            <!-- to remove -->
            <label for="nav-search-field" class="controls__search__label">Search:</label>
            <input type="text" name="nav-search-field"
                   class="controls__search__field" placeholder="Search for...">
            <button
              class="controls__search__button  controls__search__button--submit"
              type="button">Submit
            </button>
            <button
              class="controls__search__button  controls__search__button--close  js-search-close"
              type="button">
              <span
                class="icon  controls__search__button--close__close-icon"></span>
            </button>
          </form>
        </div>
      </li>
      <li class="utility__list-item  utility__list-item--show-md-sm"><a
        class="utility__cta" href="#">Home</a></li>
      <li class="utility__list-item  utility__list-item--show-md-sm"><a
        class="utility__cta" href="#">Sign In</a> or <a class="utility__cta"
                                                        href="#">Join Now</a>
      </li>
      <li
        class="utility__list-item  utility__list-item--social  utility__list-item--show-lg">
        <a class="utility__cta" href="http://www.facebook.com/BlurbBooks"><span
          class="icon  social--utility--facebook--blue"></span></a></li>
      <li
        class="utility__list-item  utility__list-item--social  utility__list-item--show-lg">
        <a class="utility__cta" href="http://twitter.com/blurbbooks"><span
          class="icon  social--utility--twitter--blue"></span></a></li>
      <li
        class="utility__list-item  utility__list-item--social utility__list-item--social--last  utility__list-item--show-lg">
        <a class="utility__cta"
           href="https://plus.google.com/104290472118001868543"><span
          class="icon  social--utility--googleplus--blue"></span></a></li>
    </ul>
    <div class="guideline--vertical--right"></div>
  </div>

</div>
<div class="header--main  header-nav--main">
<div class="guideline--horizontal"></div>
<div class="grid-construct  guidline__wrapper">
<div class="guideline--vertical--left"></div>
<a href="#" title="Blurb" class="logo  logo--main  js-logo">
  <span class="icon  logo--icon--large  logo-main--sm"></span>
  <span class="icon  logo--icon--small  logo-main--mobile"></span>
</a>
{% comment %}

What is going on here? Basically, the top menus are here, but we import the
child menus from includes. We do this because the child menu repeats
horizontally across the bottom according to page.headerMenu, and we have to
pass it parameters so that the right HTML can be generated without having
to duplicate stuff.

{% endcomment %}
<div class="controls  controls--main  js-controls">
<nav class="controls__nav" data-controller="controlsNav">
  <ul class="controls__nav__list  js-controls-nav-list">
    <li class="controls__nav__list-item{%if page.headerMenu == 'create' %}  active{% endif %}">
      <div
        class="controls__nav__cta  cta  cta--button  js-parent-nav-link">
        <span class="icon  controls__nav__expand-icon"></span>Create
        <span class="icon  controls__nav__cta-icon"></span></div>
        {% include header/submenu.html items=site.nav.create %}
    </li>
    <li class="controls__nav__list-item{%if page.headerMenu == 'formats-pricing' %}  active{% endif %}">
      <div
        class="controls__nav__cta  cta  cta--button  js-parent-nav-link">
        <span class="icon  controls__nav__expand-icon"></span>Formats &amp;
        Pricing <span class="icon  controls__nav__cta-icon"></span></div>
      {% include header/submenu.html items=site.nav.formats-pricing %}
    </li>
    <li class="controls__nav__list-item{%if page.headerMenu == 'sell-distribute' %}  active{% endif %}">
      <div
        class="controls__nav__cta  cta  cta--button  js-parent-nav-link">
        <span class="icon  controls__nav__expand-icon"></span>Sell &amp; Distribute <span
        class="icon  controls__nav__cta-icon"></span></div>
      {% include header/submenu.html items=site.nav.sell-distribute %}
    </li>
    <li class="controls__nav__list-item{%if page.headerMenu == 'community' %}  active{% endif %}">
      <div
        class="controls__nav__cta  cta  cta--button  js-parent-nav-link">
        <span class="icon  controls__nav__expand-icon"></span>Community
        <span class="icon  controls__nav__cta-icon"></span></div>
      {% include header/submenu.html items=site.nav.community %}
    </li>
    <li class="controls__nav__list-item{%if page.headerMenu == 'help' %}  active{% endif %}">
      <div
        class="controls__nav__cta  cta  cta--button  js-parent-nav-link">
        <span class="icon  controls__nav__expand-icon"></span>Help
        <span class="icon  controls__nav__cta-icon"></span></div>
      {% include header/submenu.html items=site.nav.help %}
    </li>
    <li class="controls__nav__list-item{%if page.headerMenu == 'bookstore' %}  active{% endif %}">
      <div
        class="controls__nav__cta  cta  cta--button  js-parent-nav-link">
        <span class="icon  controls__nav__expand-icon"></span>Bookstore
        <span class="icon  controls__nav__cta-icon"></span></div>
      {% include header/submenu.html items=site.nav.bookstore %}
    </li>
  </ul>
</nav>
{% unless page.headerMenu == null %}
  <ul class="controls__current-subnav">
    {% comment %} If there's a better way to do this (e.g. use variable to refer
    to name of hash key), let me know! {% endcomment %}
    {% for navItem in site.nav %}
      {% if navItem[0] == page.headerMenu %}
        {% assign itemsContent = navItem[1] %}
        {% include header/submenu.html subnav=true items=itemsContent %}
      {% endif %}
    {% endfor %}
  </ul>
{% endunless %}
<div class="footer__legal">
  <div class="grid-construct">
    <div class="full-column">
      <ul class="footer__legal__list">
        <li
          class="footer__legal__list-item  footer__legal__list-item--copyright">&copy;
          1999-2014 Blurb
        </li>
        <!--
                  -->
        <li class="footer__legal__list-item"><a
          class="footer__legal__link" href="#">Company</a></li>
        <!--
                  -->
        <li class="footer__legal__list-item"><a
          class="footer__legal__link" href="#">Careers</a></li>
        <!--
                  -->
        <li class="footer__legal__list-item"><a
          class="footer__legal__link" href="#">Engineering</a></li>
        <!--
                  -->
        <li class="footer__legal__list-item"><a
          class="footer__legal__link" href="#">Pricing</a></li>
        <!--
                  -->
        <li class="footer__legal__list-item"><a
          class="footer__legal__link" href="#">Privacy &amp; Legal</a>
        </li>
        <!--
                  -->
        <li class="footer__legal__list-item"><a
          class="footer__legal__link" href="#">Affiliate Program</a></li>
        <!--
                  -->
        <li class="footer__legal__list-item"><a
          class="footer__legal__link" href="#">Support</a></li>
      </ul>
      <div class="footer__lang-select" data-controller="languageSelect">
        <div class="footer__lang-select__btn">
          <div class="footer__lang-select__selected  js-lang-select-btn">
                  <span
                    class="icon  flag--united-states--sm  footer__lang-select__selected-icon"></span>
                  <span
                    class="footer__lang-select__selected-text">United States</span>
            <span class="icon  indicator--down--white"></span>
          </div>
        </div>

        <div
          class="footer__lang-select__select-wrap  js-lang-select-wrap">
          <div class="footer__lang-select__list-wrap">
            <ul class="footer__lang-select__column">
              <li class="footer__lang-select__list-item">
                <a class="footer__lang-select__link" href="#"><span
                  class="icon  flag--united-states"></span> United States</a>
              </li>
              <li class="footer__lang-select__list-item">
                <a class="footer__lang-select__link" href="#"><span
                  class="icon  flag--australia"></span> Australia</a>
              </li>
              <li class="footer__lang-select__list-item">
                <a class="footer__lang-select__link" href="#"><span
                  class="icon  flag--brazil"></span> Brazil</a>
              </li>
              <li class="footer__lang-select__list-item">
                <a class="footer__lang-select__link" href="#"><span
                  class="icon  flag--italy"></span> Italy</a>
              </li>
              <li class="footer__lang-select__list-item">
                <a class="footer__lang-select__link" href="#"><span
                  class="icon  flag--netherlands"></span> Netherlands</a>
              </li>
              <li class="footer__lang-select__list-item">
                <a class="footer__lang-select__link" href="#"><span
                  class="icon  flag--united-kingdom"></span> United
                  Kingdom</a>
              </li>
            </ul>
            <ul class="footer__lang-select__column">
              <li class="footer__lang-select__list-item">
                <a class="footer__lang-select__link" href="#"><span
                  class="icon  flag--france"></span> France</a>
              </li>
              <li class="footer__lang-select__list-item">
                <a class="footer__lang-select__link" href="#"><span
                  class="icon  flag--germany"></span> Germany</a>
              </li>
              <li class="footer__lang-select__list-item">
                <a class="footer__lang-select__link" href="#"><span
                  class="icon  flag--spain"></span> Spain</a>
              </li>
              <li class="footer__lang-select__list-item">
                <a class="footer__lang-select__link" href="#"><span
                  class="icon  flag--canada"></span> Canada</a>
              </li>
              <li class="footer__lang-select__list-item">
                <a class="footer__lang-select__link" href="#"><span
                  class="icon  flag--globe"></span> Other Countries</a>
              </li>
            </ul>
            <div class="footer__lang-select__stem">
              <span class="icon bubble-stem--gray"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<div class="guideline--vertical--right"></div>
</div>
</div>

<a href="#" class="header--mobile-nav-toggle  js-mobile-nav-toggle"><span
  class="icon  btn--mobile-nav--shadow"></span></a>
</div>
</header>
