<a name="price-form"></a>
<!-- Add Pricing Module 23 -->
  <script type="text/javascript">
  var Blurb = Blurb || {};
  Blurb.currency = "USD";  // "GBP", etc...
</script>

<div class="module  pricing-module" data-controller="pricing">
  <div class="grid-construct">
    <h2 class="pricing--heading">Photo book pricing</h2>
      <div class="pricing--accordion-palette">
        <div class="js-options-groups-container"></div>

        <div class="accordion--bar  pricing-callout">
          <span class="accordion--bar__title fl">Pricing</span>
        </div>
        <div class="accordion__content__pricing">
          <p class="pricing-col">Et est debitis quam molestiae quo eaque excepturi asperiores quam quisquam non. laudantium deleniti maxime possimus culpa magnam. quod saepe et dolores ut cum aperiam molestiae sed accusamus</p>
          <div class="pricing-col omega"><img src="/sites/all/themes/blotch/build/assets/img/pricing/pricing-arrow-blue.png" alt=""></div>
        </div>
        
      </div>

      <div class="pricing--accordion-summary  js-summary">
        <div class="pricing--accordion-summary__inner  js-summary-container"></div>
      </div>
  </div>
</div>
<!-- End Pricing Module 23 -->