<div class="header--utility block block-blurb-menu delta_1 " id="block-blurb-menu-blurby-account-menu-v4">
  <div class="grid-construct  guidline__wrapper">
    <div class="guideline--vertical--left"></div>
    <ul class="utility__list js-utility__account-menu">
      <li class="utility__list-item  utility__list-item--show-lg utility__account-menu-item js-utility__account-menu-item">
        <a class="utility__cta" href="http://master.eng.blurb.com/my/account/register">Join Blurb Now</a>
      </li>
      <li class="utility__list-item  utility__list-item--show-lg utility__account-menu-item js-utility__account-menu-item">
        <a class="utility__cta" href="http://master.eng.blurb.com/my/account/login">Sign In</a>
      </li>
      <li class="utility__list-item  utility__list-item--show-lg utility__account-menu-item js-utility__account-menu-item">
        <a class="utility__cta" href="http://master.eng.blurb.com/help">Help</a>
      </li>
      <li class="utility__list-item  utility__list-item--search" data-controller="search">
        <div class="controls__search__form-wrap js-search-form">
          <form action="http://master.eng.blurb.com/search/site_search" class="controls__search__form clearfix">
            <span class="controls__search__field-icon  icon  magnify--black"></span>
            <label for="search" class="controls__search__label">Search:</label>
            <input type="text" name="search" class="controls__search__field" placeholder="Search for...">
              <button class="controls__search__button  controls__search__button--submit" type="submit">Submit</button>
              <button class="controls__search__button controls__search__button--close js-search-close" type="button">
                <span class="icon  controls__search__button--close__close-icon"></span>
              </button>
            </input>
          </form>
        </div>
      </li>
      <li class="utility__list-item  utility__list-item--show-md-sm">
        <a class="utility__cta" href="/">Home</a>
      </li>
      <li class="utility__list-item  utility__list-item--show-md-sm"><a class="utility__cta" href="/my/account/login">
        Sign In</a> or        <a class="utility__cta" href="/my/account/register">Join Now</a>
      </li>
      <li class="utility__list-item  utility__list-item--social  utility__list-item--show-lg">
        <a class="utility__cta" href="http://www.facebook.com/BlurbBooks"><span class="icon  social--utility--facebook--blue"></span></a>
      </li>
      <li class="utility__list-item  utility__list-item--social  utility__list-item--show-lg">
        <a class="utility__cta" href="http://twitter.com/blurbbooks"><span class="icon  social--utility--twitter--blue"></span></a>
      </li>
      <li class="utility__list-item  utility__list-item--social utility__list-item--social--last  utility__list-item--show-lg">
        <a class="utility__cta" href="https://plus.google.com/104290472118001868543"><span class="icon  social--utility--googleplus--blue"></span></a>
      </li>
    </ul>
    <div class="guideline--vertical--right"></div>
  </div>
</div>
