<footer class="footer footer--main" role="contentinfo">
  <section class="grid-construct">
    <div class="footer__mega-nav__logo">
      <a href="#"><span class="icon logo-footer"></span></a>
    </div>
    <div class="footer__mega-nav">
      <ul class="footer__mega-nav__list">
        <li class="footer__mega-nav__list-item">
          <h6><a href="/self-publishing-overview">{% t navigation_menu.self_publishing %}</a></h6>
          <ul class="footer__mega-nav__sub-list">
            <li class="footer__mega-nav__sub-list-item">
              <a href="/sell-and-distribute">{% t navigation_menu.sell_and_distribute %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/sell-through-blurb">{% t navigation_menu.self_publish_on_blurb %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/amazon-and-more">{% t navigation_menu.self_publish_on_amazon %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/amazon-and-more">{% t navigation_menu.ingram_distribution %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/volume-purchase-fulfillment">{% t navigation_menu.volume_fulfillment %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/bookmaking-tools">{% t navigation_menu.book_creation_tools %}</a>
            </li>
          </ul>
        </li>
        <li class="footer__mega-nav__list-item">
          <h6><a href="/photo-books">{% t navigation_menu.personal_photo_books %}</a></h6>
          <ul class="footer__mega-nav__sub-list">
            <li class="footer__mega-nav__sub-list-item">
              <a href="/yearbook-photo-books">{% t navigation_menu.yearbook_photo_books %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/wedding-books">{% t navigation_menu.wedding_photo_books %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/anniversary-photo-books">{% t navigation_menu.anniversary_photo_books %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/baby-photo-books">{% t navigation_menu.baby_photo_books %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/family-photo-books">{% t navigation_menu.family_photo_books %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/travel-photo-books">{% t navigation_menu.travel_photo_books %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/coffee-table-photo-books">{% t navigation_menu.coffee_table_photo_books %}</a>
            </li>
          </ul>
        </li>
        <li class="footer__mega-nav__list-item">
          <h6><a href="/self-published-books">{% t navigation_menu.popular_book_types %}</a></h6>
          <ul class="footer__mega-nav__sub-list">
            <li class="footer__mega-nav__sub-list-item">
              <a href="/cookbooks">{% t navigation_menu.cookbooks %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/childrens-books">{% t navigation_menu.childrens_books %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/poetry-books">{% t navigation_menu.poetry_books %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/portfolio-books">{% t navigation_menu.portfolios %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/planners">{% t navigation_menu.planners %}</a>
            </li>
          </ul>
        </li>
        <li class="footer__mega-nav__list-item">
          <h6><a href="/inspiration">{% t navigation_menu.get_inspired %}</a></h6>
          <ul class="footer__mega-nav__sub-list">
            <li class="footer__mega-nav__sub-list-item">
              <a href="/gifts">{% t navigation_menu.gift_center %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/book-camp">{% t navigation_menu.book_camp %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/blog">{% t navigation_menu.blurb_stories %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/newsletters">{% t navigation_menu.newsletters %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/bookstore">{% t navigation_menu.blurb_bookstore %}</a>
            </li>
          </ul>
        </li>
        <li class="footer__mega-nav__list-item">
          <h6><a href="/help">{% t navigation_menu.help %}</a></h6>
          <ul class="footer__mega-nav__sub-list">
            <li class="footer__mega-nav__sub-list-item">
              <a href="/categories/20076681">{% t navigation_menu.forums %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="https://support.blurb.com/forums?locale=1">{% t navigation_menu.faqs %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/pricing">{% t navigation_menu.pricing %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/shipping">{% t navigation_menu.shipping %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/returns">{% t navigation_menu.return_policy %}</a>
            </li>
            <li class="footer__mega-nav__sub-list-item">
              <a href="/printing-options">{% t navigation_menu.pricing_options %}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
  <div class="footer__legal">
    <div class="grid-construct">
      <div class="full-column">
        <ul class="footer__legal__list">
          <li class="footer__legal__list-item  footer__legal__list-item--copyright">{% t navigation_menu.date_blurb %}
          </li>
          <li class="footer__legal__list-item">
          <a class="footer__legal__link" href="/company-profile">{% t navigation_menu.company %}</a></li>
          <li class="footer__legal__list-item">
          <a class="footer__legal__link" href="/careers">{% t navigation_menu.work_at_blurb %}</a></li>
          <li class="footer__legal__list-item">
          <a class="footer__legal__link" href="/technology">{% t navigation_menu.engineering %}</a></li>
          <li class="footer__legal__list-item">
          <a class="footer__legal__link" href="/pricing-calculator">{% t navigation_menu.pricing %}</a></li>
          <li class="footer__legal__list-item">
          <a class="footer__legal__link" href="/about/legal">{% t navigation_menu.privacy_and_legal %}</a></li>
          <li class="footer__legal__list-item">
          <a class="footer__legal__link" href="https://support.blurb.com/home?locale=1">{% t navigation_menu.support %}</a></li>
        </ul>
        <div class="footer__lang-select" data-controller="languageSelect">
          <div class="footer__lang-select__btn">
            <div class="footer__lang-select__selected  js-lang-select-btn">
              <span class="icon  flag--united-states--sm  footer__lang-select__selected-icon"></span>
              <span class="footer__lang-select__selected-text">{% t navigation_menu.united_states %}</span>
              <span class="icon  indicator--down--white"></span>
            </div>
          </div>

          <div class="footer__lang-select__select-wrap  js-lang-select-wrap">
            <div class="footer__lang-select__list-wrap">
              <ul class="footer__lang-select__column">
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="http://www.blurb.com?redirect=true"><span class="icon  flag--united-states"></span> {% t navigation_menu.united_states %}</a>
                </li>
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="http://au.blurb.com?redirect=true"><span class="icon  flag--australia"></span> {% t navigation_menu.australia %}</a>
                </li>
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="http://br.blurb.com?redirect=true"><span class="icon  flag--brazil"></span> {% t navigation_menu.brazil %}</a>
                </li>
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="http://it.blurb.com?redirect=true"><span class="icon  flag--italy"></span> {% t navigation_menu.italy %}</a>
                </li>
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="http://nl.blurb.com?redirect=true"><span class="icon  flag--netherlands"></span> {% t navigation_menu.netherlands %}</a>
                </li>
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="http://www.blurb.co.uk?redirect=true"><span class="icon  flag--united-kingdom"></span> {% t navigation_menu.united_kingdom %}</a>
                </li>
              </ul>
              <ul class="footer__lang-select__column">
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="http://www.blurb.fr?redirect=true"><span class="icon  flag--france"></span> {% t navigation_menu.france %}</a>
                </li>
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="http://www.blurb.de?redirect=true"><span class="icon  flag--germany"></span> {% t navigation_menu.germany %}</a>
                </li>
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="http://www.blurb.es?redirect=true"><span class="icon  flag--spain"></span> Spain</a>
                </li>
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="http://www.blurb.ca?redirect=true"><span class="icon  flag--canada"></span> {% t navigation_menu.canada %}</a>
                </li>
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="http://fr.blurb.ca?redirect=true"><span class="icon  flag--canada"></span> {% t navigation_menu.canada_fr %}</a>
                </li>
                <li class="footer__lang-select__list-item">
                  <a class="footer__lang-select__link" href="http://www.blurb.com?redirect=true"><span class="icon  flag--globe"></span> {% t navigation_menu.other_countries %}</a>
                </li>
              </ul>
              <div class="footer__lang-select__stem">
                <span class="icon bubble-stem--gray"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
