{% assign path_parts = page.path | split:"." %}
{% assign language = path_parts[1] %}
<head>
  {% if page.title || site.title %}
  <title>{% if page.title %}{% t page.title %}{% else %}{{ site.title }}{% endif %}</title>
  {% endif %}

  {% if page.meta_description %}
  <meta name="description" content="{% t page.meta_description %}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  {% endif %}
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
  <link href="assets/bower/buildkit/assets/css/main.css" media="all" rel="stylesheet" />
</head>
