<div class="header--main  header-nav--main block block-blurb-menu contextual-links-region delta_2 " id="block-blurb-menu-blurby-navigation-menu-v4">
  <div class="guideline--horizontal"></div>
  <div class="grid-construct  guidline__wrapper">
    <div class="guideline--vertical--left"></div>
    <a href="/" title="Blurb" class="logo  logo--main  js-logo">
      <span class="icon  logo--icon--large  logo-main--sm"></span>
      <span class="icon  logo--icon--small  logo-main--mobile"></span>
    </a>

    <div class="controls  controls--main  js-controls">
      <nav class="controls__nav" data-controller="controlsNav">
        <ul class="controls__nav__list  js-controls-nav-list">
          <li class="controls__nav__list-item" data-tab="formats-pricing-dropdown">
            <div class="controls__nav__cta  cta  cta--button  js-parent-nav-link">
              <span class="icon  controls__nav__expand-icon"></span>
              <a class="controls__nav__cta__link" href="/photo-books">Formats &amp; Pricing</a>
            </div>
            <ul class="controls__subnav--lvl1  js-subnav" data-trigger="formats-pricing-dropdown">
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/photo-books">Photo Books</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/trade-books">Trade Books</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/magazine">Magazines</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/ebook">Ebooks</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/pricing-calculator">Pricing</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/printing-options">Printing Options</a>
              </li>
            </ul>
          </li>
          <li class="controls__nav__list-item" data-tab="create-dropdown">
            <div class="controls__nav__cta  cta  cta--button  js-parent-nav-link">
              <span class="icon  controls__nav__expand-icon"></span>
              <a class="controls__nav__cta__link" href="/bookmaking-tools">Create</a>
            </div>
            <ul class="controls__subnav--lvl1  js-subnav" data-trigger="create-dropdown">
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/bookmaking-tools">Creation &amp; Layout Tools</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/templates">Templates</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/dreamteam/collaborators">Dream Team</a>
              </li>
            </ul>
          </li>
          <li class="controls__nav__list-item" data-tab="sell-and-distribute-dropdown">
            <div class="controls__nav__cta  cta  cta--button  js-parent-nav-link">
              <span class="icon  controls__nav__expand-icon"></span>
              <a class="controls__nav__cta__link" href="/sell-and-distribute">Sell &amp; Distribute</a>
            </div>
            <ul class="controls__subnav--lvl1  js-subnav" data-trigger="sell-and-distribute-dropdown">
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/sell-and-distribute">Sell &amp; Distribute Options</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/sell-through-blurb">Sell through Blurb</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/amazon-and-more">Amazon &amp; More</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/apple-ibooks-store">Apple iBooks Store</a>
              </li>
            </ul>
          </li>
          <li class="controls__nav__list-item" data-tab="community-dropdown">
            <div class="controls__nav__cta  cta  cta--button  js-parent-nav-link">
              <span class="icon  controls__nav__expand-icon"></span>
              <a class="controls__nav__cta__link" href="/events">Community</a>
            </div>
            <ul class="controls__subnav--lvl1  js-subnav" data-trigger="community-dropdown">
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/events">Events</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/webinars">Online Workshops</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/blog">Blurb Stories</a>
              </li>
            </ul>
          </li>
          <li class="controls__nav__list-item" data-tab="bookstore-dropdown">
            <div class="controls__nav__cta  cta  cta--button  js-parent-nav-link">
              <span class="icon  controls__nav__expand-icon"></span>
              <a class="controls__nav__cta__link" href="/bookstore/new">Bookstore</a>
            </div>
            <ul class="controls__subnav--lvl1  js-subnav" data-trigger="bookstore-dropdown">
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/bookstore/new">New &amp; Notable</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/bookstore/featured">Editors Pick</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/bookstore/popular">Best Sellers</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/bookstore/category">All Categories</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>

      <ul class="controls__current-subnav" data-trigger="formats-pricing-dropdown">
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/photo-books">Photo Books</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/trade-books">Trade Books</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/magazine">Magazines</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/ebook">Ebooks</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/pricing-calculator">Pricing</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/printing-options">Printing Options</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
      </ul>
      <ul class="controls__current-subnav" data-trigger="create-dropdown">
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/bookmaking-tools">Creation &amp; Layout Tools</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/templates">Templates</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/dreamteam/collaborators">Dream Team</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
      </ul>
      <ul class="controls__current-subnav" data-trigger="sell-and-distribute-dropdown">
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/sell-and-distribute">Sell &amp; Distribute Options</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/sell-through-blurb">Sell through Blurb</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/amazon-and-more">Amazon &amp; More</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/apple-ibooks-store">Apple iBooks Store</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
      </ul>
      <ul class="controls__current-subnav" data-trigger="community-dropdown">
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/events">Events</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/webinars">Online Workshops</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/blog">Blurb Stories</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
      </ul>
      <ul class="controls__current-subnav" data-trigger="bookstore-dropdown">
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/bookstore/new">New &amp; Notable</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/bookstore/featured">Editors Pick</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/bookstore/popular">Best Sellers</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/bookstore/category">All Categories</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
      </ul>
    </div>


  </div>
  <div class="guideline--vertical--right"></div>
  <a href="#" class="header--mobile-nav-toggle  js-mobile-nav-toggle">
    <span class="icon  btn--mobile-nav--shadow"></span>
  </a>
</div>

