<div class="header--main  header-nav--main block block-blurb-menu contextual-links-region delta_2 " id="block-blurb-menu-blurby-navigation-menu-v4">
  <div class="guideline--horizontal"></div>
  <div class="grid-construct  guidline__wrapper">
    <div class="guideline--vertical--left"></div>
    <a href="/" title="Blurb" class="logo  logo--main  js-logo">
      <span class="icon  logo--icon--large  logo-main--sm"></span>
      <span class="icon  logo--icon--small  logo-main--mobile"></span>
    </a>

    <div class="controls  controls--main  js-controls">
      <nav class="controls__nav" data-controller="controlsNav">
        <ul class="controls__nav__list  js-controls-nav-list">
          <li class="controls__nav__list-item" data-tab="formats-pricing-dropdown">
            <div class="controls__nav__cta  cta  cta--button  js-parent-nav-link">
              <span class="icon  controls__nav__expand-icon"></span>
              <a class="controls__nav__cta__link" href="/photo-books">{% translate navigation_menu.formats_and_pricing %}</a>
            </div>
            <ul class="controls__subnav--lvl1  js-subnav" data-trigger="formats-pricing-dropdown">
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/photo-books">{% translate navigation_menu.photo_books %}</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/trade-books">{% translate navigation_menu.trade_books %}</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/magazine">{% translate navigation_menu.magazines %}</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/ebook">{% translate navigation_menu.ebooks %}</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/pricing-calculator">{% translate navigation_menu.pricing %}</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/printing-options">{% translate navigation_menu.printing_options %}</a>
              </li>
            </ul>
          </li>
          <li class="controls__nav__list-item" data-tab="create-dropdown">
            <div class="controls__nav__cta  cta  cta--button  js-parent-nav-link">
              <span class="icon  controls__nav__expand-icon"></span>
              <a class="controls__nav__cta__link" href="/bookmaking-tools">{% translate navigation_menu.create %}</a>
            </div>
            <ul class="controls__subnav--lvl1  js-subnav" data-trigger="create-dropdown">
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/bookmaking-tools">{% translate navigation_menu.creation_layout_tools %}</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/templates">{% translate navigation_menu.templates %}</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/dreamteam/collaborators">{% translate navigation_menu.dreamteam %}</a>
              </li>
            </ul>
          </li>
          <li class="controls__nav__list-item active" data-tab="sell-and-distribute-dropdown">
            <div class="controls__nav__cta  cta  cta--button  js-parent-nav-link">
              <span class="icon  controls__nav__expand-icon"></span>
              <a class="controls__nav__cta__link" href="/sell-and-distribute">{% translate navigation_menu.sell_and_distribute %}</a>
            </div>
            <ul class="controls__subnav--lvl1  js-subnav" data-trigger="sell-and-distribute-dropdown">
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/sell-and-distribute">{% translate navigation_menu.sell_and_distribute_options %}</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/sell-through-blurb">{% translate navigation_menu.sell_through_blurb %}</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/amazon-and-more">{% translate navigation_menu.sell_on_amazon %}</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/apple-ibooks-store">{% translate navigation_menu.apple_ibooks_store %}</a>
              </li>
            </ul>
          </li>
          <li class="controls__nav__list-item" data-tab="community-dropdown">
            <div class="controls__nav__cta  cta  cta--button  js-parent-nav-link">
              <span class="icon  controls__nav__expand-icon"></span>
              <a class="controls__nav__cta__link" href="/events">{% translate navigation_menu.community %}</a>
            </div>
            <ul class="controls__subnav--lvl1  js-subnav" data-trigger="community-dropdown">
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/events">{% translate navigation_menu.events %}</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/webinars">{% translate navigation_menu.online_workshops %}</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/blog">{% translate navigation_menu.blurb_stories %}</a>
              </li>
            </ul>
          </li>
          <li class="controls__nav__list-item" data-tab="bookstore-dropdown">
            <div class="controls__nav__cta  cta  cta--button  js-parent-nav-link">
              <span class="icon  controls__nav__expand-icon"></span>
              <a class="controls__nav__cta__link" href="/bookstore/new">{% translate navigation_menu.bookstore %}</a>
            </div>
            <ul class="controls__subnav--lvl1  js-subnav" data-trigger="bookstore-dropdown">
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/bookstore/new">{% translate navigation_menu.new_and_notable %}</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/bookstore/featured">{% translate navigation_menu.editors_pick %}</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/bookstore/popular">{% translate navigation_menu.best_sellers %}</a>
              </li>
              <li class="controls__subnav--lvl1__item">
                <a class="controls__subnav--lvl1__link" href="/bookstore/category">{% translate navigation_menu.all_categories %}</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>

      <ul class="controls__current-subnav" data-trigger="formats-pricing-dropdown">
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/photo-books">{% translate navigation_menu.photo_books %}</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/trade-books">{% translate navigation_menu.trade_books %}</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/magazine">{% translate navigation_menu.magazines %}</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/ebook">{% translate navigation_menu.ebooks %}</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/pricing-calculator">{% translate navigation_menu.pricing %}</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/printing-options">{% translate navigation_menu.printing_options %}</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
      </ul>
      <ul class="controls__current-subnav" data-trigger="create-dropdown">
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/bookmaking-tools">{% translate navigation_menu.creation_layout_tools %}</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/templates">{% translate navigation_menu.templates %}</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/dreamteam/collaborators">{% translate navigation_menu.dreamteam %}</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
      </ul>
      <ul class="controls__current-subnav active" data-trigger="sell-and-distribute-dropdown">
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/sell-and-distribute">{% translate navigation_menu.sell_and_distribute_options %}</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/sell-through-blurb">{% translate navigation_menu.sell_through_blurb %}</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item active">
          <a class="controls__current-subnav__link" href="/amazon-and-more">{% translate navigation_menu.sell_on_amazon %}</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/apple-ibooks-store">{% translate navigation_menu.apple_ibooks_store %}</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
      </ul>
      <ul class="controls__current-subnav" data-trigger="community-dropdown">
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/events">{% translate navigation_menu.events %}</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/webinars">{% translate navigation_menu.online_workshops %}</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/blog">{% translate navigation_menu.blurb_stories %}</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
      </ul>
      <ul class="controls__current-subnav" data-trigger="bookstore-dropdown">
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/bookstore/new">{% translate navigation_menu.new_and_notable %}</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/bookstore/featured">{% translate navigation_menu.editors_pick %}</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/bookstore/popular">{% translate navigation_menu.best_sellers %}</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
        <li class="controls__current-subnav__item">
          <a class="controls__current-subnav__link" href="/bookstore/category">{% translate navigation_menu.all_categories %}</a>
          <span class="controls__current-subnav__arrow  icon  indicator--down--blue"></span>
        </li>
      </ul>
    </div>


  </div>
  <div class="guideline--vertical--right"></div>
  <a href="#" class="header--mobile-nav-toggle  js-mobile-nav-toggle">
    <span class="icon  btn--mobile-nav--shadow"></span>
  </a>
</div>

