{% assign path_parts = page.path | split:"." %}
{% assign language = path_parts[1] %}
<a name="price-form"></a>
<!-- Add Pricing Module 23 -->
<div class="module  pricing-module" data-controller="pricing">
  <div class="grid-construct">
    <h2 class="pricing--heading">{% if site.bookulator_strings[language].title %}{{ site.bookulator_strings[language].title }}{% else %}Bookulator{% endif %}</h2>
      <div class="pricing--accordion-palette">
        <div class="js-options-groups-container"></div>

        <div class="accordion--bar  pricing-callout">
          <!-- <span class="accordion--bar__title fl">Pricing</span> -->
        </div>
        <div class="accordion__content__pricing">
          <!-- <p class="pricing-col">Et est debitis quam molestiae quo eaque excepturi asperiores quam quisquam non. laudantium deleniti maxime possimus culpa magnam. quod saepe et dolores ut cum aperiam molestiae sed accusamus</p> -->
          <!-- <div class="pricing-col omega"><img src="/sites/all/themes/blotch/build/assets/img/pricing/pricing-arrow-blue.png" alt=""></div> -->
        </div>
        
      </div>

      <div class="pricing--accordion-summary  js-summary">
        <div class="pricing--accordion-summary__inner  js-summary-container"></div>
      </div>
  </div>
</div>
<!-- End Pricing Module 23 -->

<!-- Google Analytics tracking for pricing module -->
<script type="text/javascript">
  (function ($) {
    $(function () {
      var bookTypeTextSelector = 'div.three-col__desc';
      var bookSizeTextSelector = 'div.four-col__desc__heading, div.four-col__desc__sub-heading';
      var bookCoverTextSelector = bookTypeTextSelector;
      var bookPaperTextSelector = 'div.two-col__desc__heading, div.two-col__desc__subheading';
      var customOptionTextSelector = 'div.two-col__desc__heading';

      function _buildPricingModuleHumanName(element, textSelector) {
        var selectedValues = [];
        $(textSelector, $(element)).each(function () {
          var thisText = jQuery.trim($(this).text());
          if (thisText) {
            selectedValues.push(thisText);
          }
        });
        selectedValue = selectedValues.join(' ');
        return selectedValue;
      }

      function getPricingModuleOptionValue(sectionOptions, textSelector) {
        var selectorStrings = [];
        $.each(sectionOptions, function (index, value) {
          selectorStrings.push('.js-option-item.active[data-id="' + value + '"]');
        });

        // We can only send one value, and only one should be selected, so take the
        // first one. There can be only one.
        var firstMatch = $(selectorStrings.join(','), $('.pricing-module')).get(0);
        var selectedValue = _buildPricingModuleHumanName(firstMatch, textSelector);
        return selectedValue;
      }

      function getPricingModuleOptionHumanName(machineName, textSelector) {
        var firstMatch = $('.js-option-item.active[data-id="' + machineName + '"]', $('.pricing-module')).get(0);
        var selectedValue = _buildPricingModuleHumanName(firstMatch, textSelector);
        return selectedValue;
      }

      var readyForClicks, bookType, bookSize, bookCover, bookPaper, bookCustomLogo, bookCustomEndSheet, bookCustomCoverLinen, currentBookOptions, previousBookOptions;

      function updateBookValues() {
        // Store the previous options so our event hook can compare.
        previousBookOptions = {
          bookType: bookType,
          bookSize: bookSize,
          bookCover: bookCover,
          bookPaper: bookPaper,
          bookCustomLogo: bookCustomLogo,
          bookCustomEndSheet: bookCustomEndSheet,
          bookCustomCoverLinen: bookCustomCoverLinen
        };

        // Figure out the current values of stuff.
        // 01 - Book Types
        var bookTypeOptions = ['photo_book', 'trade_book', 'magazine'];
        bookType = getPricingModuleOptionValue(bookTypeOptions, bookTypeTextSelector);

        // 02 - Size
        // These change depending on 01, but we don't have to care about that.
        var sizeOptions = [
          'standard_landscape',
          'standard_portrait_true8x10',
          'square',
          'large_square',
          'large_landscape',
          'pocket',
          'trade',
          'magazine'
        ]
        bookSize = getPricingModuleOptionValue(sizeOptions, bookSizeTextSelector);

        // 03 - Covers
        var coverOptions = ['softcover', 'dustjacket', 'imagewrap'];
        bookCover = getPricingModuleOptionValue(coverOptions, bookCoverTextSelector);

        // 04 - Papers - Can vary based on Book Type
        var paperOptions = [
          'standard_paper',
          'premium_matte_paper',
          'premium_lustre_paper',
          'pro_medium_gloss_paper',
          'pro_uncoated_paper',
          'standard_trade_matte_paper',
          'standard_trade_bw_matte_paper',
          'economy_trade_matte_paper',
          'economy_trade_bw_matte_paper',
          'economy_trade_bw_cream_matte_paper',
          'magazine_paper'
        ];
        bookPaper = getPricingModuleOptionValue(paperOptions, bookPaperTextSelector);

        // 05 - Custom Options.
        // There can be Logo, End Sheets, and Cover Linens here. We just simply
        // look for them all but only send the ones that actually have values.
        var customLogoOptions = ['true', 'false']; // lol
        bookCustomLogo = getPricingModuleOptionValue(customLogoOptions, customOptionTextSelector);

        var customEndSheetOptions = [
          'standard_mid_grey_endsheet',
          'pro_white_endsheet',
          'pro_charcoal_endsheet',
          'pro_light_grey_endsheet',
          'pro_black_endsheet',
          'standard_white_endsheet'
        ];
        bookCustomEndSheet = getPricingModuleOptionValue(customEndSheetOptions, customOptionTextSelector);

        var customCoverLinenOptions = [
          'pro_charcoal_linen_covering',
          'pro_oatmeal_linen_covering',
          'standard_grey_linen_covering',
          'standard_black_linen_covering'
        ];
        bookCustomCoverLinen = getPricingModuleOptionValue(customCoverLinenOptions, customOptionTextSelector);

        // Now store the current options
        currentBookOptions = {
          bookType: bookType,
          bookSize: bookSize,
          bookCover: bookCover,
          bookPaper: bookPaper,
          bookCustomLogo: bookCustomLogo,
          bookCustomEndSheet: bookCustomEndSheet,
          bookCustomCoverLinen: bookCustomCoverLinen
        };
      }

      // Initialize this once the pricing module has loaded.
      var firstBookUpdate = setInterval(function () {
//        console.log('Checking if pricing module is ready...');
        updateBookValues();
        if (currentBookOptions.bookType) {
          // If this worked, then we are good. Otherwise, it'll keep running
          // until it does.
          readyForClicks = true;
          clearInterval(firstBookUpdate);
        }
      }, 100);

      $('.pricing-module').on('click', '.js-option-item:not(#page-count)', function () {
        // If the pricing module is still loading, don't send any clicks since
        // we can't accurately tell what they have changed.
        if (readyForClicks) {
          // Update the book values so we can compare and see which ones to send.
          updateBookValues();

//          console.log('previous', previousBookOptions, 'new', currentBookOptions);
          if (currentBookOptions.bookType != previousBookOptions.bookType) {
//            console.log('bookType', bookType);
            _GA.send('send', 'event', 'Photo Book Pricing Widget', 'Book Types', bookType);
            // We always return after the first match because if a selection
            // causes other things to change, those will be sent too if we don't
            // do this.
            return;
          }
          if (currentBookOptions.bookSize != previousBookOptions.bookSize) {
//            console.log('bookSize', bookSize);
            _GA.send('send', 'event', 'Photo Book Pricing Widget', 'Size', bookSize);
            return;
          }
          if (currentBookOptions.bookCover != previousBookOptions.bookCover) {
//            console.log('bookCover', bookCover);
            _GA.send('send', 'event', 'Photo Book Pricing Widget', 'Covers', bookCover);
            return;
          }

          if (currentBookOptions.bookPaper != previousBookOptions.bookPaper) {
//            console.log('bookPaper', bookPaper);
            _GA.send('send', 'event', 'Photo Book Pricing Widget', 'Covers', bookCover);
            return;
          }

          if (bookCustomLogo && currentBookOptions.bookCustomLogo != previousBookOptions.bookCustomLogo) {
//            console.log('bookCustomLogo', bookCustomLogo);
            _GA.send('send', 'event', 'Photo Book Pricing Widget', 'Custom Options Logo', bookCustomLogo);
            return;
          }

          if (bookCustomEndSheet && currentBookOptions.bookCustomEndSheet != previousBookOptions.bookCustomEndSheet) {
//            console.log('bookCustomEndSheet', bookCustomEndSheet);
            _GA.send('send', 'event', 'Photo Book Pricing Widget', 'Custom Options End Sheets', bookCustomEndSheet);
            return;
          }

          if (bookCustomCoverLinen && currentBookOptions.bookCustomCoverLinen != previousBookOptions.bookCustomCoverLinen) {
//            console.log('bookCustomCoverLinens', bookCustomCoverLinen);
            _GA.send('send', 'event', 'Photo Book Pricing Widget', 'Custom Options Cover Linens', bookCustomCoverLinen);
            return;
          }
        }
      });

      // The pricing module does a request while loading, but we don't need to
      // track that.
      var pricingModuleReady = false;
      $(document).on('pricing:change', function (event, eventData) {
        var attr = eventData.changed, pricingModuleValueArray = [];

        if (pricingModuleReady && attr.bookType && attr.coverType && attr.paperType) {
          // Book type per se is actually kind of stupid; the object tells us
          // the size, and all sizes are unique to that book type. So here's
          // what we'll do. If it's /pocket/ or /trade/, it's a Trade Book. If
          // it's /magazine/, it's Magazine. Anything else? Photo Book.
          var actualBookType = ([ 'pocket', 'trade'].indexOf(attr.bookType) ? 'Trade Book' : ( attr.bookType == 'magazine' ? 'magazine' : 'Photo Book' ));
          pricingModuleValueArray.push('Book Types:' + actualBookType);

          if (attr.bookType) {
            pricingModuleValueArray.push('Size:' + getPricingModuleOptionHumanName(attr.bookType, bookSizeTextSelector));
          }
          if (attr.coverType) {
            pricingModuleValueArray.push('Covers:' + getPricingModuleOptionHumanName(attr.coverType, bookCoverTextSelector));
          }
          if (attr.paperType) {
            pricingModuleValueArray.push('Papers:' + getPricingModuleOptionHumanName(attr.paperType, bookPaperTextSelector));
          }
          if (attr.customLogoUpgrade) {
            pricingModuleValueArray.push('Custom Options Logo:' + getPricingModuleOptionHumanName(attr.customLogoUpgrade, customOptionTextSelector));
          }
          if (attr.endsheetType) {
            pricingModuleValueArray.push('Custom Options End Sheets:' + getPricingModuleOptionHumanName(attr.endsheetType, customOptionTextSelector));
          }
          if (attr.linenType) {
            pricingModuleValueArray.push('Custom Options Cover Linens:' + getPricingModuleOptionHumanName(attr.linenType, customOptionTextSelector));
          }

          var pricingModuleValues = pricingModuleValueArray.join('|');
          _GA.send('send', 'event', 'Photo Book Pricing Widget', 'Returned Pricing Options', pricingModuleValues);
        }

        if (!pricingModuleReady) {
          pricingModuleReady = true;
        }
      });

      var waitASec, lastValue;
      // Send changed number of pages. We catch a few different events to ensure
      // it gets sent.
      $('body').on('change keyup paste', '.pricing-module #page-count', function (event) {
        // Wait 1 second after the user has stopped changing the textbox before
        // sending to GA.
        if (waitASec) {
          clearTimeout(waitASec);
        }
        var $this = $(this);
        if ($(this).val() != lastValue) {
          waitASec = setTimeout(function () {
            var pageCount = $this.val();
//            console.log('pageCount', pageCount);
            _GA.send('send','event','Photo Book Pricing Widget','Estimated Pages', pageCount);
            lastValue = $this.val();
            clearTimeout(waitASec); // Just in case.
          }, 1000)
        }
      });

      // ;( ;( ;(
      $('body').on('click', '.pricing-module .pricing--accordion-summary .summary--table a', function (event) {
        // Double-check that they really did click the link we want.
        // We can't match text because they might not be on the English site.
        // So we make do.
        var $elem = $(this);
        if ($elem.parents('td').is(':last-child')) {
          // Delay the redirect a bit so GA can receive the tracking pixel.
          if (!$elem.attr('target') || $elem.attr('target').toLowerCase() !== '_blank') {
            _GA.send('send', 'event', 'Photo Book Pricing Widget', 'Get A Quote');
            event.preventDefault();
            setTimeout(function () {
              location.href = $elem.attr('href');
            }, 300);
          }
        }
      });
    });
  })(jQuery);
</script>
<!-- End Google Analytics tracking for pricing module -->
