<li class="utility__list-item  utility__list-item--search" data-controller="search">
  <div class="controls__search__form-wrap js-search-form">
    <form action="http://master.eng.blurb.com/search/site_search" class="controls__search__form clearfix">
      <span class="controls__search__field-icon  icon  magnify--black"></span>
      <label for="search" class="controls__search__label">{% t search.search %}:</label>
      <input type="text" name="search" class="controls__search__field" placeholder="{% t search.search_for %}…">
        <button class="controls__search__button  controls__search__button--submit" type="submit">{% t search.submit %}</button>
        <button class="controls__search__button  controls__search__button--close  js-search-close" type="button">
          <span class="icon  controls__search__button--close__close-icon"></span>
        </button>
      </input>
    </form>
  </div>
</li>
  
