---
href: /amazon-and-more
headerMenu: sell-distribute
title: amazon-and-more.title
meta_description: "Publish your own book with Blurb, sell on Amazon. Self-published book distribution made simple: you set the price, we handle the rest"
partner_tracking: true
---
{% capture headline %}{% t page.title %}{% endcapture %}
{% include modules/page-banner.html headline=headline copy='Sell your book on Amazon, Barnes & Noble, and more than 39,000 online bookstores.' banner_image_url='/sites/default/files/buildkit/Amazon-and-beyond.jpg' %}

{% include modules/two-half-column-left-start.html  header='SELL ON<br /><span class="colored-header-column__vendor-text">AMAZON & BEYOND</span><br />THROUGH INGRAM' color='gray' %}
<br />
<p>{% t page.title %}<br /><br /><br />Make any <a href="/trade-books">Trade Book</a> available to Amazon, Barnes & Noble, and 39,000 online bookstores.</p>
       <ul>
         <li>You control the list price and decide the retail seller fees</li>
         <li>The book is printed <a href="/printing-options#printondemand">on demand</a> and shipped to the buyer</li>
         <li>Available for trade books only</li>
       </ul><br />
       <p>Trade books can be created with <a href="/bookwright">BookWright</a> and our <a href="/indesign-plugin">InDesign Plug-in</a>. Want to learn more about global distribution through Ingram? <a href="/global-distribution">Check out our FAQ</a>.</p>
       <p>
         {% include modules/black-button.html text='Create a Trade Book' url='/trade-books' %}
       </p>
{% include modules/two-half-column-left-end.html %}
{% include modules/two-half-column-right-start.html header='SELL ON <span class="colored-header-column__vendor-text">AMAZON</span>' color='orange' %}
     <br />
      <p>Sell any <a href="/photo-books">Photo Book</a> on Amazon.com only.</p>
       <ul>
         <li>You control the list price. Amazon fees are set at 15% of the book price plus $1.35 per copy</li>
         <li>Blurb handles printing, fulfillment, and shipping for all orders made through Amazon. <a href="/printing-options#warehousing">Warehousing options</a> available for volume orders.</li>
       </ul><br />
       <p>Photo books can be created with <a href="/bookmaking-tools">any of our tools</a>. More questions about selling on Amazon? <a href="/amazon-distribution">Check out the FAQ</a>.</p>
       <p>
         {% include modules/black-button.html url='/photo-books' text='Create a Photo Book' %}
       </p>
{% include modules/two-half-column-right-end.html %}


{% include modules/three-column-column.html header='Already made a book?' text='Decide where you want to <a href="/sell-and-distribute">sell your book</a>.' order='first'%}
{% include modules/three-column-column.html header='GET STARTED' text='Select the right format for your book and <a href="/bookmaking-tools">get started</a>.' %}
{% include modules/three-column-column.html header='HIRE AN EXPERT' text='Need help in your publishing efforts? <a href="/dreamteam/collaborators">Blurb-approved experts</a> are available to assist you.' order='last' %}
