---
href: /amazon-and-more
headerMenu: sell-distribute
title: amazon_and_more.title
meta_description: amazon-and-more.meta_description
partner_tracking: true
---

{% capture page_banner_headline %}{% t amazon_and_more.page_banner.headline %}{% endcapture %}
{% capture page_banner_copy %}{% t amazon_and_more.page_banner.copy %}{% endcapture %}
{% capture page_banner_banner_image_url %}{% t amazon_and_more.page_banner.banner_image_url %}{% endcapture %}
{% include modules/page-banner.html headline=page_banner_headline copy=page_banner_copy banner_image_url=page_banner_banner_image_url %}


{% capture two_half_column_left_start_header %}{% t amazon_and_more.two_half_column_left_start.header %}{% endcapture %}
{% capture two_half_column_left_start_color %}{% t amazon_and_more.two_half_column_left_start.color %}{% endcapture %}
{% include modules/two-half-column-left-start.html  header=two_half_column_left_start_header color=two_half_column_left_start_color %}

<br />
<p>Make any <a href="/trade-books">Trade Book</a> available to Amazon, Barnes & Noble, and 39,000 online bookstores.</p>
       <ul>
         <li>You control the list price and decide the retail seller fees</li>
         <li>The book is printed <a href="/printing-options#printondemand">on demand</a> and shipped to the buyer</li>
         <li>Available for trade books only</li>
       </ul><br />
       <p>Trade books can be created with <a href="/bookwright">BookWright</a> and our <a href="/indesign-plugin">InDesign Plug-in</a>. Want to learn more about global distribution through Ingram? <a href="/global-distribution">Check out our FAQ</a>.</p>
       <p>
         {% capture two_half_column_left_start_black_button_text %}{% t amazon_and_more.two_half_column_left_start.black_button_text %}{% endcapture %}
         {% capture two_half_column_left_start_black_button_url %}{% t amazon_and_more.two_half_column_left_start.black_button_url %}{% endcapture %}
         {% include modules/black-button.html text=two_half_column_left_start_black_button_text url=two_half_column_left_start.black_button_url %}
       </p>

{% include modules/two-half-column-left-end.html %}

{% capture two_half_column_right_start_header %}{% t amazon_and_more.two_half_column_right_start.header %}{% endcapture %}
{% capture two_half_column_right_start_color %}{% t amazon_and_more.two_half_column_right_start.color %}{% endcapture %}
{% include modules/two-half-column-right-start.html header=two_half_column_right_start_header color=two_half_column_right_start_color %}

     <br />
      <p>Sell any <a href="/photo-books">Photo Book</a> on Amazon.com only.</p>
       <ul>
         <li>You control the list price. Amazon fees are set at 15% of the book price plus $1.35 per copy</li>
         <li>Blurb handles printing, fulfillment, and shipping for all orders made through Amazon. <a href="/printing-options#warehousing">Warehousing options</a> available for volume orders.</li>
       </ul><br />
       <p>Photo books can be created with <a href="/bookmaking-tools">any of our tools</a>. More questions about selling on Amazon? <a href="/amazon-distribution">Check out the FAQ</a>.</p>
       <p>
         {% capture two_half_column_right_start_black_button_text %}{% t amazon_and_more.two_half_column_right_start.black_button_text %}{% endcapture %}
         {% capture two_half_column_right_start_black_button_url %}{% t amazon_and_more.two_half_column_right_start.black_button_url %}{% endcapture %}
         {% include modules/black-button.html text=two_half_column_right_start_black_button_text url=two_half_column_right_start_black_button_url %}
       </p>

{% include modules/two-half-column-right-end.html %}

{% capture three_column_column_first_header %}{% t amazon_and_more.three_column_column_first.header %}{% endcapture %}
{% capture three_column_column_first_text %}{% t amazon_and_more.three_column_column_first.text %}{% endcapture %}
{% capture three_column_column_first_order %}{% t amazon_and_more.three_column_column_first.order %}{% endcapture %}
{% include modules/three-column-column.html header=three_column_column_first_header text=three_column_column_first_text order=three_column_column_first_order %}


{% capture three_column_column_header %}{% t amazon_and_more.three_column_column.header %}{% endcapture %}
{% capture three_column_column_text %}{% t amazon_and_more.three_column_column.text %}{% endcapture %}
{% include modules/three-column-column.html header=three_column_column_header text=three_column_column_text %}


{% capture three_column_column_last_header %}{% t amazon_and_more.three_column_column_last.header %}{% endcapture %}
{% capture three_column_column_last_text %}{% t amazon_and_more.three_column_column_last.text %}{% endcapture %}
{% capture three_column_column_last_order %}{% t amazon_and_more.three_column_column_last.order %}{% endcapture %}
{% include modules/three-column-column.html header=three_column_column_last_header text=three_column_column_last_text order=three_column_column_last_order %}
