{% include head.html %}
<body>
  <div class="wrapper">
    <div class="inner-wrapper js-inner-wrapper">
      <div class="outer-border__wrapper"><div class="grid-construct"><div class="outer-border__inner"><div class="outer-border__left"></div><div class="outer-border__right"></div></div></div></div>
      <div id="blurb-promo-banner"><div class="view view-site-wide-updates-feed view-id-site_wide_updates_feed view-display-id-default view-dom-id-e03bcb33a3f2de0e6fbf7096e2a08893"></div></div>
      {% include header.html %}
      <main class="main" role="main">
        {{ content }}
      </main>
    </div>
  </div>
  {% include footer.html %}
  <script type="text/javascript" src="assets/bower/buildkit/assets/js/main.js"></script>
  <script type="text/javascript" src="assets/bower/blurblocation/index.js"></script>
  <script type="text/javascript" src="assets/js/account.js"></script>
  <script type="text/javascript" src="assets/js/main.js"></script>
</body>
